<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <!-- Header -->
    <%- include ('partials/head.html') -%>
  </head>

  <body>
    <%- include ('partials/navigation.html'); -%>
    <div class="container content text-light text-center h-50">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <i class="far fa-angry fa-10x animated bounceIn"></i>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include ('partials/footer.html') -%>
  </body>
</html>
